body {
    font-family: "Montserrat";
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .player {
    width: 576px;
    background-color: #333;
    /* border-radius: 5px; */
    overflow: hidden;
    position: relative;
    border: 15px solid #333;
  }
  
  .player img {
    width: 90%;
    padding: 20 25;
    height: 400px;
    object-fit: cover;
    border-radius: 30px;
  }
  
  .player-info {
    position: absolute;
    color: #fff;
    top: 370px;
    left: 35px;
    background-color: rgb(241, 31, 213);
    border: 4px solid rgb(241, 31, 213);
  }
  
  .progress-bar {
    height: 2px;
    background-color: #555;
    position: relative;
  }
  
  .progress {
    height: 100%;
    background-color:rgb(241, 31, 213);
    width: 40%; 
  }
  #circle {
    position: absolute;
    top: -10;
    left: 220;
    color: rgb(241, 31, 213);
  }
 
  .time{
    color: white;
    padding-left: 2px;
  }
  
  .controls {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    color: aliceblue;
    cursor: pointer;
  }
  
  .menu {
    position: absolute;
    top: 395px;
    right: 45px;
    cursor: pointer;
    color: #fff;
    background-color: rgb(241, 31, 213);
    border: 12px solid rgb(241, 31, 213);
  }
  
  /* audio{
    /* display: none;
  } */
   